ion-button {
    width: 30%;
    margin-right: 15px;
    height: 51px;
    border-radius: 10px;
}

#input-task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input-task ion-input {
    background: white;
    color: black;
    height: 51px;
    border-radius: 10px;
    margin: 10px 15px;
}