<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Todo app - Tasks</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div id="input-task">
    <ion-input [(ngModel)]="taskInput" placeholder="Buy bread..." autocapitalize="true"></ion-input>
    <ion-button (click)="addTask()" class="ion-align-items-center" color="primary">{{inputButtonText}}</ion-button>
  </div>

  <app-list headerText="Todo" [tasks]="tasks" [markFinished]="true" [makeDelete]="true" [makeEdit]="true"
    (deleteTaskEvent)="deleteTask($event)" (markFinishedEvent)="markFinished($event)"
    (editTaskEvent)="triggerEditOneTask($event)"></app-list>
  <app-list headerText="Finished" [tasks]="finishedTasks" [makeDelete]="true"
    (deleteTaskEvent)="deleteFinishedTask($event)"></app-list>

</ion-content>